# Agenda, week 2

1. Q&A
2. Data frames
    - Creating them
    - Indexes and column names
    - Retrieving from them
    - Methods and attributes that we'll want to use
    - `.loc` and mask indexes
3. Creating data frames from files
    - CSV
    - Other formats, as well
    - Retrieving data from the Internet

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
s = Series([10, 20, 30, np.nan, 50, 60, 70, np.nan, np.nan, 100, 200],
          index=list('abcdefghijk'))
s

a     10.0
b     20.0
c     30.0
d      NaN
e     50.0
f     60.0
g     70.0
h      NaN
i      NaN
j    100.0
k    200.0
dtype: float64

In [6]:
s.dropna()    # this method removes the NaN values from a series, and returns the new series without NaN -- the original is unchanged

a     10.0
b     20.0
c     30.0
e     50.0
f     60.0
g     70.0
j    100.0
k    200.0
dtype: float64

In [7]:
s  # how can it be that we still have NaN values here??

a     10.0
b     20.0
c     30.0
d      NaN
e     50.0
f     60.0
g     70.0
h      NaN
i      NaN
j    100.0
k    200.0
dtype: float64

In [8]:
# how can you actually remove NaN values from a series?

# s = s.dropna()   # this returns the new series that dropna returned, and assigns it back to s, replacing the original one

In [9]:
s.fillna(999)   # new series with 999 instead of NaN is returned, but the original (s) is still unchanged

a     10.0
b     20.0
c     30.0
d    999.0
e     50.0
f     60.0
g     70.0
h    999.0
i    999.0
j    100.0
k    200.0
dtype: float64

In [10]:
s.interpolate()  # returns a new series, but doesn't change the original

a     10.0
b     20.0
c     30.0
d     40.0
e     50.0
f     60.0
g     70.0
h     80.0
i     90.0
j    100.0
k    200.0
dtype: float64

By having methods return a new series/data frame, rather than modify the original, you can "chain" methods and perform longer, more interesting queries without making any assignments.