# Agenda, week 3

1. Q&A
2. Sorting
3. Grouping (basic, advanced)
4. Pivot tables
5. Joining
6. Cleaning our data
7. Plotting
8. AMA (ask me anything)
9. What's next?

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [9]:
filename = 'taxi.csv'

df = pd.read_csv(filename, 
                 index_col='tpep_pickup_datetime')

In [10]:
df.head()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-02 11:19:29,2,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.0,0.3,17.80
2015-06-02 11:19:30,2,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.0,0.3,8.30
2015-06-02 11:19:31,2,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.0,0.3,11.00
2015-06-02 11:19:31,2,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.0,0.3,17.16
2015-06-02 11:19:32,1,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.0,0.3,10.30

In [11]:
# I want to find the shortest trip distances

df['trip_distance']

tpep_pickup_datetime
2015-06-02 11:19:29    1.63
2015-06-02 11:19:30    0.46
2015-06-02 11:19:31    0.87
2015-06-02 11:19:31    2.13
2015-06-02 11:19:32    1.40
                       ...
2015-06-01 00:12:59    2.70
2015-06-01 00:12:59    4.50
2015-06-01 00:13:00    5.59
2015-06-01 00:13:02    1.54
2015-06-01 00:13:04    5.80
Name: trip_distance, Length: 9999, dtype: float64

In [12]:
# I can sort the values in this column with the sort_values method (for a series)

df['trip_distance'].sort_values()  # ascending order by default

tpep_pickup_datetime
2015-06-01 00:12:13     0.00
2015-06-04 15:18:09     0.00
2015-06-02 11:23:46     0.00
2015-06-01 00:08:03     0.00
2015-06-01 00:07:43     0.00
                       ...
2015-06-04 15:17:25    34.84
2015-06-02 11:21:03    35.51
2015-06-01 00:02:42    37.20
2015-06-01 00:04:50    60.30
2015-06-01 00:00:58    64.60
Name: trip_distance, Length: 9999, dtype: float64

In [13]:
df['trip_distance'].sort_values().head(10)

tpep_pickup_datetime
2015-06-01 00:12:13    0.0
2015-06-04 15:18:09    0.0
2015-06-02 11:23:46    0.0
2015-06-01 00:08:03    0.0
2015-06-01 00:07:43    0.0
2015-06-04 15:23:02    0.0
2015-06-06 16:51:57    0.0
2015-06-04 15:18:40    0.0
2015-06-01 00:03:44    0.0
2015-06-04 15:17:31    0.0
Name: trip_distance, dtype: float64

In [14]:
# 10 longest trips

df['trip_distance'].sort_values().tail(10)

tpep_pickup_datetime
2015-06-01 00:00:16    29.78
2015-06-01 00:09:14    31.50
2015-06-01 00:00:13    31.90
2015-06-02 11:28:58    32.10
2015-06-01 00:01:19    32.40
2015-06-04 15:17:25    34.84
2015-06-02 11:21:03    35.51
2015-06-01 00:02:42    37.20
2015-06-01 00:04:50    60.30
2015-06-01 00:00:58    64.60
Name: trip_distance, dtype: float64

In [15]:
df['trip_distance'].sort_values(ascending=False).head(10)

tpep_pickup_datetime
2015-06-01 00:00:58    64.60
2015-06-01 00:04:50    60.30
2015-06-01 00:02:42    37.20
2015-06-02 11:21:03    35.51
2015-06-04 15:17:25    34.84
2015-06-01 00:01:19    32.40
2015-06-02 11:28:58    32.10
2015-06-01 00:00:13    31.90
2015-06-01 00:09:14    31.50
2015-06-01 00:00:16    29.78
Name: trip_distance, dtype: float64

In [16]:
# we can also sort a column by the index!

df['trip_distance'].sort_index()

tpep_pickup_datetime
2015-06-01 00:00:00     1.00
2015-06-01 00:00:00     0.90
2015-06-01 00:00:00     1.40
2015-06-01 00:00:01     7.41
2015-06-01 00:00:01     8.15
                       ...
2015-06-06 16:53:56     1.20
2015-06-06 16:53:56     0.58
2015-06-06 16:53:56    17.36
2015-06-06 16:53:56     0.76
2015-06-06 16:53:57     0.50
Name: trip_distance, Length: 9999, dtype: float64

In [17]:
# if I want the 5 earliest trips, I can say

df['trip_distance'].sort_index().head(5)

tpep_pickup_datetime
2015-06-01 00:00:00    1.00
2015-06-01 00:00:00    0.90
2015-06-01 00:00:00    1.40
2015-06-01 00:00:01    7.41
2015-06-01 00:00:01    8.15
Name: trip_distance, dtype: float64

In [18]:
df['trip_distance'].sort_index().tail(5)

tpep_pickup_datetime
2015-06-06 16:53:56     1.20
2015-06-06 16:53:56     0.58
2015-06-06 16:53:56    17.36
2015-06-06 16:53:56     0.76
2015-06-06 16:53:57     0.50
Name: trip_distance, dtype: float64

# Sorting

When you sort a series (column), you can choose from between two different types of sort:

- `sort_index`, to get a new series back based on the index, sorted in ascending order (by default)
- `sort_values`, to get a new series back based on the values, sorted in ascending order (by default)

# What about sorting data frames?

My rule of thumb in Pandas is: If you have a method that works on a series, then the same method can be applied, to a data frame. You'll get a result for each column.

- If the series method returns a scalar value, then you'll get a series back when you invoke the data frame's method, with the columns providing the index.
- If the series method returns a series, then you'll get a data frame back, with the column names coming from the data frame.

In [19]:
df.sort_index()

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:00:00,1,2015-06-01 00:06:12,1,1.00,-73.988739,40.756832,1,N,-73.974701,40.757038,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,1,0.90,-73.984428,40.737209,1,N,-73.979935,40.749088,1,11.5,1.0,0.5,2.00,0.00,0.3,15.30
2015-06-01 00:00:00,2,2015-06-01 00:00:00,2,1.40,-73.987160,40.738972,1,N,-73.976288,40.755573,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30
2015-06-01 00:00:01,2,2015-06-01 00:11:29,1,7.41,-73.874634,40.774082,1,N,-73.944809,40.779282,1,21.0,0.5,0.5,5.57,5.54,0.3,33.41
2015-06-01 00:00:01,2,2015-06-01 00:24:48,1,8.15,-74.006844,40.730572,1,N,-73.946342,40.811508,1,26.5,0.5,0.5,2.50,0.00,0.3,30.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-06 16:53:56,1,2015-06-06 17:00:40,1,1.20,-73.992592,40.730629,1,N,-73.998161,40.717072,1,6.5,0.0,0.5,2.19,0.00,0.3,9.49
2015-06-06 16:53:56,2,2015-06-06 16:56:18,1,0.58,-73.949013,40.788616,1,N,-73.952942,40.781727,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75
2015-06-06 16:53:56,2,2015-06-06 17:54:22,1,17.36,-73.790520,40.646461,2,N,-73.969048,40.763062,1,52.0,0.0,0.5,10.66,5.54,0.3,69.00
2015-06-06 16:53:56,2,2015-06-06 16:55:51,1,0.76,-73.977509,40.784252,1,N,-73.970848,40.793365,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
2015-06-06 16:53:57,1,2015-06-06 16:58:39,1,0.50,-73.968719,40.764427,1,N,-73.965042,40.759476,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80

In [21]:
# what about sort_values?

df.sort_values('trip_distance')  # you must say by what column you want to sort!

,VendorID,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,
2015-06-01 00:12:13,1,2015-06-01 00:13:47,1,0.00,-74.005714,40.740582,1,N,-74.005417,40.740803,3,3.00,0.5,0.5,0.00,0.00,0.3,4.30
2015-06-04 15:18:09,1,2015-06-04 15:18:09,2,0.00,-74.002953,40.749256,1,N,0.000000,0.000000,2,3.00,0.0,0.5,0.00,0.00,0.3,3.80
2015-06-02 11:23:46,2,2015-06-02 11:24:07,4,0.00,-73.956963,40.766392,1,N,-73.956970,40.766418,2,2.50,0.0,0.5,0.00,0.00,0.3,3.30
2015-06-01 00:08:03,2,2015-06-01 00:08:08,1,0.00,-73.962463,40.755138,2,N,-73.962463,40.755138,1,52.00,0.0,0.5,10.56,0.00,0.3,63.36
2015-06-01 00:07:43,1,2015-06-01 00:07:43,1,0.00,-74.007530,40.740753,1,N,0.000000,0.000000,2,5.00,0.5,0.5,0.00,0.00,0.3,6.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-06-04 15:17:25,2,2015-06-04 17:05:42,1,34.84,-73.787354,40.641670,5,N,-74.177376,40.690781,2,120.00,0.0,0.0,0.00,17.29,0.3,137.59
2015-06-02 11:21:03,2,2015-06-02 12:16:47,1,35.51,-73.789169,40.647758,3,N,-74.176750,40.662647,1,112.00,0.0,0.0,0.00,22.83,0.3,135.13
2015-06-01 00:02:42,1,2015-06-01 00:03:38,1,37.20,-73.550156,41.043472,5,N,-73.550102,41.043495,1,184.00,0.0,0.0,20.00,5.84,0.3,210.14
2015-06-01 00:04:50,1,2015-06-01 01:31:44,1,60.30,-73.994415,40.750603,5,N,-73.420250,41.137344,1,150.00,0.0,0.0,0.00,9.75,0.3,160.05
2015-06-01 00:00:58,1,2015-06-01 01:22:05,1,64.60,0.000000,0.000000,5,N,0.000000,0.000000,2,69.66,0.0,0.0,0.00,10.00,0.3,79.96

In [25]:
# what if I want the dropoff times for the 5 longest trips

(
    df
    .sort_values('trip_distance')    # sort the data frame, in ascending order, by trip_distance
    ['tpep_dropoff_datetime']        # grab the tpep_dropoff_datetime column
    .tail(5)                         # get the 5 final values, corresponding to the 5 longest trips
)

tpep_pickup_datetime
2015-06-04 15:17:25    2015-06-04 17:05:42
2015-06-02 11:21:03    2015-06-02 12:16:47
2015-06-01 00:02:42    2015-06-01 00:03:38
2015-06-01 00:04:50    2015-06-01 01:31:44
2015-06-01 00:00:58    2015-06-01 01:22:05
Name: tpep_dropoff_datetime, dtype: object

In [28]:
# things can get even better: What if I want to sort by two or more columns?
# that is, I'll sort primarily by trip_distance, but if two trips have the same distance, then I'll secondarily
# sort by total_amount.

(
    df
    .sort_values(['trip_distance', 'total_amount'])    # sort the data frame, in ascending order, by trip_distance, then by total_amount
    [['trip_distance', 'total_amount']]
    .head(20)
)

                      trip_distance  total_amount
tpep_pickup_datetime
2015-06-02 11:24:35             0.0          -3.3
2015-06-02 11:20:23             0.0           2.3
2015-06-02 11:19:46             0.0           3.3
2015-06-02 11:24:35             0.0           3.3
2015-06-02 11:23:46             0.0           3.3
2015-06-02 11:31:47             0.0           3.3
2015-06-02 11:28:53             0.0           3.3
2015-06-02 11:29:48             0.0           3.3
2015-06-02 11:31:46             0.0           3.3
2015-06-02 11:32:53             0.0           3.3
2015-06-04 15:16:03             0.0           3.3
2015-06-04 15:16:06             0.0           3.3
2015-06-04 15:17:10             0.0           3.3
2015-06-04 15:19:59             0.0           3.3
2015-06-06 16:52:01             0.0           3.3
2015-06-06 16:52:19             0.0           3.3
2015-06-06 16:53:43             0.0           3.3
2015-06-02 11:23:16             0.0           3.8
2015-06-01 00:00:46             0.0           3.8
2015-06-01 00:02:29             0.0           3.8